# Core
/.gitattributes export-ignore
/.gitignore export-ignore
/.distignore export-ignore
/CLAUDE.md export-ignore

# Code Quality
/phpcs.xml* export-ignore
/phpstan.neon* export-ignore
/phpunit.xml* export-ignore

# Development
/.wp-env.json export-ignore
/package.json export-ignore
/package-lock.json export-ignore
/tests/ export-ignore
/node_modules/ export-ignore

# Encoding
* text eol=lf
*.php diff=php

# Binary
*.zip binary
*.mo binary
*.pot binary
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.woff2 binary
*.woff binary

# Generated
/composer.lock linguist-generated
