includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 6
    paths:
        - ./src
        - ./one-click-multisite.php
    excludePaths:
        - ./vendor
    treatPhpDocTypesAsCertain: false
